<div id="manual-analysis" style="display: none;">
    <h1>How to Use the Spotify Analysis Downloader</h1>

    <p>
        The Spotify Analysis Downloader lets you download analysis data for the track currently playing on Spotify and any track changes until you close or reload the tab. It only works on desktop browsers. If you want to listen to the song on mobile, upload the analysis from a desktop browser first. Follow these steps to use it:
    </p>

    <ol>
        <li>
            <strong>Show your bookmarks bar:</strong>
            <ul>
                <li><strong>Chrome:</strong> Press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>B</kbd> (Windows) or <kbd>Cmd</kbd> + <kbd>Shift</kbd> + <kbd>B</kbd> (Mac) to toggle the bookmark bar.</li>
                <li><strong>Firefox:</strong> Click the menu button and select <strong>Library</strong>, then <strong>Bookmarks</strong>, and <strong>Bookmarking Tools</strong>, and select <strong>Show Bookmarks Toolbar</strong>.</li>
                <li><strong>Edge:</strong> Press <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>B</kbd> or go to <strong>Settings</strong> &gt; <strong>Appearance</strong> &gt; <strong>Show favorites bar</strong> and set to <strong>Always</strong>.</li>
                <li><strong>Safari:</strong> Go to <strong>View</strong> in the top menu and select <strong>Show Favorites Bar</strong>.</li>
            </ul>
        </li>
        <li>
            <strong>Bookmark the following link:</strong>
            Drag this button to your bookmark bar to save it as a bookmark:
            <a href="javascript:(() => { {% include manual-analysis-script.js %} })();" class="btn btn-small btn-default">Spotify Analysis Downloader</a>
        </li>
        <li>
            <strong>Open Spotify:</strong>
            Use this link to open Spotify in your browser and log in (Premium account not required):
            <a href="https://open.spotify.com" target="_blank" class="btn btn-small btn-default">Open Spotify</a>.
        </li>
        <li>
            <strong>Play a Spotify track:</strong>
            Start any track on Spotify to begin downloading analysis data for it. Pausing or muting the track will not impact the downloader.
        </li>
        <li>
            <strong>Use the bookmarklet:</strong>
            While the song is playing, click the "Spotify Analysis Downloader" bookmarklet from your bookmark bar. This action will download the analysis file for the current track.
        </li>
        <li>
            <strong>Continue listening:</strong>
            The downloader will automatically save analysis data for each new track you play until you close or reload the tab.
        </li>
        <li>
            <strong>Locate your downloads:</strong>
            The downloaded files will be in your downloads folder and named after the track IDs (e.g., `03UrZgTINDqvnUMbbIMhql.json`).
        </li>
        <li>
            <strong>Upload the analysis file:</strong>
            Match the filename with the track ID of the song you tried to play (see the URL) and use the form below to upload the analysis file for processing.
        </li>
    </ol>

    <h2>Upload the Analysis File</h2>
    <p>Select the JSON file you downloaded that corresponds to the song you tried to play on The Eternal Jukebox:</p>

    <div class="l-cb" id="l-analysis-upload">
        <form id="analysis-upload-form">
            <input id="analysis-upload" type="file" name="song_upload" accept=".json">
        </form>
        <div class='progress_outer' id="analysis-progress" style="background-color: green; max-width: 300px;">
            <div id='_progress' class='progress'></div>
        </div>
    </div>

    <script>
        $("#analysis-upload").change(function () {
            var params = {};
            var q = document.URL.split('?')[1];
            if (q !== undefined) {
                q = q.split('&');
                for (var i = 0; i < q.length; i++) {
                    var pv = q[i].split('=');
                    var p = pv[0];
                    var v = pv[1];
                    params[p] = v;
                }
            }
            if (!'id' in params) {
                $("#error").text("You must be on a song page to upload analysis data.");
                $("#error").show();
                return;
            }
            var id = params['id'];

            if ($("#analysis-upload")[0].files[0].name.split('.')[0] !== id) {
                $("#error").text("This is not the correct analysis file for this song. The correct file should be called " + id + ".json.");
                $("#error").show();
                return;
            }

            $("#error").hide();

            $.ajax({
                url: "/api/analysis/upload/" + id,
                type: "POST",
                data: new FormData($('#analysis-upload-form')[0]),
                processData: false,
                contentType: false,
                headers: {
                    "X-XSRF-TOKEN": document.cookie.substring(document.cookie.indexOf("XSRF-TOKEN")).split(";")[0].split("=").slice(1).join("=")
                },
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            percentComplete = percentComplete * 100;
                            $('#analysis-progress').text(percentComplete + '%');
                            $('#analysis-progress').css('width', percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },
                success: function () {
                    window.location.reload(true);
                },
                error: function (xhr, textStatus, error) {
                    if (xhr.responseJSON && typeof xhr.responseJSON.error === "string") {
                        error = xhr.responseJSON.error;
                    }
                    $("#error").text("Sorry, could not upload analysis data: " + error);
                    $("#error").show();
                }
            });
        });
    </script>
</div>
